<html>
        <head>     
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
        <script src="{{url_for('static',filename='scripts/changeColor.js')}}" defer></script>
        </head>

        <body>
                <h1>StockYard</h1>
    
                <br><br>
                <table class="styled-table" style="">
                        <caption style="font-weight: bold;">Stocks</caption>
                        <thead style="font-weight: bold; text-align: center;">
                        <!-- <td>Name</td>
                        <td>Ticker</td>
                        <td>Price</td>
                        <td>Open</td>
                        <td>Percent Change</td> -->
                        <tr>
                                <th>Name</th>
                                <th>Ticker</th>
                                <th>Open</th>
                                <th>Price</th>
                                
                                <th>Percent Change</th>
                        </tr>
        
                        </thead>
                        <tbody>
                 
                        {% for t in tickers %}
                        <tr class="active-row">
                                <td>{{ t[0] }}</td>
                                <td>{{ t[1] }}</td>
                                <td>{{ t[3] }}</td>
                                <td>{{ t[2] }}</td>
                                <td class="change">{{ t[4] }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                </table>

              
        
        
        </body>
</html>
