<html>
        <head>     
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
        <script src="{{url_for('static',filename='scripts/changeColor.js')}}" defer></script>
        </head>

        <body>
                <!-- <h1>StockYard</h1> -->
                <nav>
                        <h1>StockYard</h1>
                        <ul id="nav-list">
                            <li><a class="nav-link" href="/home/{{id}}">Home</a></li>
                            <li><a class="nav-link" href="#projects">My Portfolio</a></li>
                            <li><a class="nav-link" href="/login">Log-out</a></li>
                        </ul>
                    </nav>
    
                <br><br>
                <div style="display: flex;">
                
                <table class="styled-table">
                        <caption style="font-weight: bold;">Popular Stocks</caption>
                        <thead style="font-weight: bold; text-align: center;">
                        <tr>
                                <th>Ticker</th>
                                <th>Name</th>
                                <th>Previous Close</th>
                                <th>Open</th>
                                <th>Price</th>
                                <th>Percent Change</th>

                        </tr>
        
                        </thead>
                        <tbody>
                 
                        {% for t in tickers %}
                        <tr class="active-row">
                                <td style="font-weight: bold;">{{ t[1] }}</td>
                                <td>{{ t[0] }}</td>
                                <td>{{ t[5] }}</td>
                                <td>{{ t[3] }}</td>
                                <td style="font-weight: 600;">{{ t[2] }}</td>
                                <td class="change">{{ t[4] }}</td>
                                <td>
                                        
                                        <a href="{{ url_for('stockPage', id=id, ticker=t ) }}">
                                                <button class="viewButton">View</button>
                                        </a>
                                </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                </table>
                <form class="search" role="form" method="post" action="{{ url_for('stockPage', id=id, ticker=tickers )}}">
                        <h4>Search For Ticker</h4>
                        <input name="tick" type="text" class="form-control" placeholder="enter ticker" />
                        <input type="submit">
                        
                </form>
        </div>

              
        
        
        </body>
</html>
