<html>
<head>
    <title>StockYard</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
</head>

<body>
    <div class="center-login">
   
    
    <form class="login" role="form" method="post" action="{{ url_for('login')}}">
        <h7>StockYard</h7>
        {%if badPass == 1%}
        <br>
        <h1 style="color: red; font-size: medium;">Error with username or password</h1>
        {%endif%}
        <br><br>
        <span>Username</span> <input name="username" type="text" class="form-control" placeholder="enter username" />
        <br>
        <span>Password</span> <input name="password" type="password" class="form-control" placeholder="enter password" />
        <br>
        <input type="submit" value="Sign In">
        <br>
        <a href="{{ url_for('register')}}">Register</a>
        <p style="font-weight: bold;">Test Account</p>
        <p>Username: test</p>
        <p>Password: pass</p>
    </form>
</div>
</body>

</html>