html {
  background-color: #212121;
  font-family: "PT Mono", sans-serif;
  user-select: none;
}

input[type=text], input[type=password], input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #4f88cc;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }  
  
  input[type=submit]:hover {
    background-color: #45a049;
  }

  /* addidtions start */

  table {
    background-color: #111;
  }

  /* #background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  } */

  body {
    background-image: url('pexels-pixabay-534216.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-position: center;
    
  }

  

  caption {
    color: orange;
    background-color: #111;
    padding-top: 10px;
    font-size: 30px;
  }

  nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7516);
    justify-content: space-between;
    overflow: auto;
    height: min-content;

  }

  h1 {
    color: orange;
    font-family: 'lexend Deca', sans-serif;
    display: inline-block;
    font-size: 40px;
    margin-left: 20px;
  }

  h2 {
    color: orange;
    font-family: 'lexend Deca', sans-serif;
    display: inline-block;
    font-size: 52px;
    margin-left: 40px;
  }

  h3 {
    color: rgb(0, 0, 0);
    font-family: 'lexend Deca', sans-serif;
    display: inline-block;
    font-size: 52px;
    margin-left: 40px;
  }

  h4 {
    color: black;
    font-family: 'lexend Deca', sans-serif;
    display: inline-block;
    font-size: 24px;
    text-align: center;
  }
  h5 {
    color: black;
    font-family: 'lexend Deca', sans-serif;
    display: inline-block;
    font-size: 48px;
    margin: 25px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  ul {
    display: inline-block;
    list-style-type: none;
    width: 500px;
    justify-content: space-between;
    font-size: 30px;

  }

  
  .styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 22px;
    font-family:Arial, Helvetica, sans-serif;
    min-width: 1250px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin-left: auto;
    margin-right: auto;
  }

  .styled-table thead tr {
    background-color: dark;
    color: white;
    text-align: left;
  }

  .styled-table th,
  .styled-table td {
    padding: 12px 15px;
  }


  .styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
    background-color: #e4e4e4;
  }

  .styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }

  .styled-table tbody tr:last-of-type {
    border-bottom: 2px solid black;
  }

  .styled-table-2 {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 22px;
    font-family:Arial, Helvetica, sans-serif;
    max-width: 45%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    display: inline-table;
  }

  .styled-table-2 thead tr {
    background-color: dark;
    color: white;
    text-align: left;
  }

  .styled-table-2 th,
  .styled-table-2 td {
    padding: 12px 15px;
  }


  .styled-table-2 tbody tr {
    border-bottom: 1px solid #dddddd;
    background-color: #e4e4e4;
  }

  .styled-table-2 tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }

  .styled-table-2 tbody tr:last-of-type {
    border-bottom: 2px solid black;
  }


  thead {
    color: gray;
  }

  .stock-div {
    display: inline-flexbox;
    /* justify-content: center;
    align-items: center;
    text-align: center; */
    min-height: 100vh;
    min-width: 80%;
    background-color: white;
    margin-left: 100px;
    margin-right: 100px;
    justify-content: space-between;
  }

  .stock-plot {
    height:75%;
    width:100%;
    border: white;
  }

  /* additions end */
  /* ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  } */
  
  span {
    float:left;
  }


  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: left;
    font-family: 'Lexend Deca', sans-serif;
  }
  big {
    font-family: 'Lexend Deca', sans-serif;
  }

  li a:hover:not(.active) {
    background-color: #111;
  }

  .active {
    background-color: #4f88cc;
  }

  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
  }

  .login {
    border-radius: 5px;
    padding: 20px;
    background-color: #e4e4e4;
  }
  .buy-form {
    border-radius: 5px;
    padding: 20px;
    background-color: #e4e4e4;
    display: inline-flexbox;
  }
  .search {
    border-radius: 5px;
    padding: 20px;
    background-color: #e4e4e4;
    max-width: 200px;
    max-height: 300px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 25px;
  }

  .buy-button {
    height: 100%;
  }

  .buys-sells {
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }

  .stock-link:link { 
    text-decoration: none; 
    color: coral;
  }


  .stock-link:visited { 
    text-decoration: none;
    color: coral;
   }
  
  
  .stock-link:hover { 
    text-decoration: none;
    color: coral;
   }
  
  
  .stock-link:active { 
    text-decoration: none; 
    color: coral;
  }


